<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adh diary</title>
    <%= favicon_tag %>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <%= stylesheet_tag "app" %>
  </head>
  <body>
  <!-- START NAV -->
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="/">
          <span class="icon is-large has-text-primary">
            <i class="fas fa-2x fa-brain"></i>
          </span>
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
          <a class="navbar-item" href="/entries">
            Entries
          </a>
          <a class="navbar-item" href="/medications">
            Medications
          </a>
          <a class="navbar-item" href="/reports">
            Reports
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% unless warden.user %>
                <%= link_to("Sign up", AdhDiary::App["routes"].path(:sign_up), class:"button is-light is-primary") %>
              <% end %>
              <% if warden.user %>
                <%= form_for :logout, 'logout', method: :delete do %>
                  <button type="submit">Logout</button>
                <% end %>
              <% else %>
                <a class="button is-primary" href="/login">Login</a>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
  <!-- END NAV -->
  <div class="container">
    <% if flash[:alert] %>
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notification is-success is-light">
        <button class="delete"></button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div>

    <%= javascript_tag "app" %>
  </body>
</html>
