<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <% if pager.prev_page %>
  <a href="<%= routes.path(:entries, page: pager.prev_page) %>" class="pagination-previous"><%= t("previous") %></a>
  <% else %>
   <a href="#" class="pagination-previous is-disabled"><%= t("previous") %></a>
  <% end %>
  <% if pager.next_page %>
  <a href="<%= routes.path(:entries, page: pager.next_page) %>" class="pagination-next"><%= t("next") %></a>
  <% else %>
    <a href="#" class="pagination-next is-disabled"><%= t("next") %></a>
  <% end %>

  <ul class="pagination-list">
    <% pager.visible_pages.each do |p| %>
      <% if p.nil? %>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      <% elsif p == pager.current_page %>
        <li><a class="pagination-link is-current" aria-label="Page <%= p %>" aria-current="page"><%= p %></a></li>
      <% else %>
        <li><a href="<%= routes.path(:entries, page: p) %>" class="pagination-link" aria-label="Goto page <%= p %>"><%= p %></a></li>
      <% end %>

    <% end %>
  </ul>
</nav>