<h1 class="title"><%= t("entries") %></h1>
<p class="buttons">
  <a class="button" href="<%= routes.path(:new_entry) %>">
    <span class="icon">
      <i class="fab fa-plus"></i>
    </span>
    <span><%= t("add_entry") %></span>
  </a>
</p>

<%= render "shared/pagination", pager: pager %>

<table class="table is-striped">
  <thead>
    <%= render 'table_header_footer' %>
  </thead>
  <tfoot>
    <%= render 'table_header_footer' %>
  </tfoot>
  <tbody>
  <% entries.each do |entry| %>
  <tr>
    <td class="date"><%= link_to entry.date, routes.path(:entry, id: entry.id) %></td>
    <td class="medication"><%= entry.medication_schedule.long_name %></td>
    <td class="attention"><%= t("entry.strengths")[entry.attention]  %></td>
    <td class="organisation"><%= t("entry.strengths")[entry.organisation] %></td>
    <td class="mood-swings"><%= t("entry.strengths")[entry.mood_swings] %></td>
    <td class="stress-sensitivity"><%= t("entry.strengths")[entry.stress_sensitivity] %></td>
    <td class="irritability"><%= t("entry.strengths")[entry.irritability] %></td>
    <td class="restlessness"><%= t("entry.strengths")[entry.restlessness] %></td>
    <td class="impulsivity"><%= t("entry.strengths")[entry.impulsivity] %></td>
    <td class="side-effects"><%= entry.side_effects %></td>
    <td class="blood-pressure"><%= entry.formatted_blood_pressure %></td>
    <td class="weight"><%= entry.formatted_weight %></td>
    <td class="actions">
      <%= link_to t("edit"), routes.path(:edit_entry, id: entry.id), class: "button is-link" %>
      <%= link_to t("destroy"), "#", class: "button is-danger" %>
    </td>
  </tr>
  <% end  %>
  </tbody>
</table>