<h1 class="title">Entry for <%= entry.date %></h1>

<table class="table">
  <tr>
    <th><%= t("entry.medication_schedule.full") %></th>
    <td><%= entry.medication_schedule.long_name %></td>
  </tr>
  <tr>
    <th><%= t("entry.attention_span.full") %></th>
    <td><%= t("entry.strengths")[entry.attention] %></td>
  </tr>
  <tr>
    <th><%= t("entry.organisation.full") %></th>
    <td><%= t("entry.strengths")[entry.organisation] %></td>
  </tr>
  <tr>
    <th><%= t("entry.mood_swings.full") %></th>
    <td><%= t("entry.strengths")[entry.mood_swings] %></td>
  </tr>
  <tr>
   <th><%= t("entry.stress_sensitivity.full") %></th>
   <td><%= t("entry.strengths")[entry.stress_sensitivity] %></td>
  </tr>
  <tr>
   <th><%= t("entry.irritability.full") %></th>
   <td><%= t("entry.strengths")[entry.irritability] %></td>
  </tr>
  <tr>
    <th><%= t("entry.restlessness.full") %></th>
    <td><%= t("entry.strengths")[entry.restlessness] %></td>
  </tr>
  <tr>
    <th><%= t("entry.impulsivity.full") %></th>
    <td><%= t("entry.strengths")[entry.impulsivity] %></td>
  </tr>
  <tr>
    <th><%= t("entry.side_effects.full") %></th>
    <td><%= entry.side_effects %></td>
  </tr>
  <tr>
    <th><%= t("entry.blood_pressure.full") %></th>
    <td><%= entry.blood_pressure %></td>
  </tr>
  <tr>
    <th><%= t("entry.weight.full") %></th>
    <td><%= entry.weight %></td>
  </tr>
</table>

