<h1 class="title">Entry for <%= entry.date %></h1>

<table class="table">
  <tr>
    <th>Medication</th>
    <td><%= entry.medication %> <%= entry.dose %></td>
  </tr>
  <tr>
    <th>Attention</th>
    <td><%= entry.attention %></td>
  </tr>
  <tr>
    <th>Organisation</th>
    <td><%= entry.organisation %></td>
  </tr>
  <tr>
    <th>Mood Swings</th>
    <td><%= entry.mood_swings %></td>
  </tr>
  <tr>
   <th>Stress Sensitivity</th>
   <td><%= entry.stress_sensitivity %></td>
  </tr>
  <tr>
   <th>Irritability</th>
   <td><%= entry.irritability %></td>
  </tr>
  <tr>
    <th>Restlessness</th>
    <td><%= entry.restlessness %></td>
  </tr>
  <tr>
    <th>Impulsivity</th>
    <td><%= entry.impulsivity %></td>
  </tr>
  <tr>
    <th>Side Effects</th>
    <td><%= entry.side_effects %></td>
  </tr>
  <tr>
    <th>Blood Pressure</th>
    <td><%= entry.blood_pressure %></td>
  </tr>
  <tr>
    <th>Weight</th>
    <td><%= entry.weight %></td>
  </tr>
</table>

