<h1 class="title"><%= entry.date %></h1>

<div class="content">
  <dl>
    <dt>Attention</dt>
    <dd><%= entry.attention %></dd>

    <dt>Organisation</dt>
    <dd><%= entry.organisation %></dd>

    <dt>Mood swings</dt>
    <dd><%= entry.mood_swings %></dd>

    <dt>Stress sensitivity</dt>
    <dd><%= entry.stress_sensitivity %></dd>

    <dt>Irritability</dt>
    <dd><%= entry.irritability %></dd>

    <dt>Restlessness</dt>
    <dd><%= entry.restlessness %></dd>

    <dt>Impulsivity</dt>
    <dd><%= entry.impulsivity %></dd>

    <dt>Side effects</dt>
    <dd><%= entry.side_effects %></dd>

    <dt>Blood pressure</dt>
    <dd><%= entry.blood_pressure %></dd>

    <dt>Weight</dt>
    <dd><%= entry.weight %></dd>

  </dl>
</div>

