<h1 class="title"><%= t("edit_medication_schedule") %></h1>

<p class="buttons">
  <a class="button" href="<%= routes.path("new_medication_schedule") %>">
    <span class="icon">
      <i class="fab fa-plus"></i>
    </span>
    <span>Add Medication Schedule</span>
  </a>
</p>

<table class="table">
  <thead>
    <%= render 'table_header_footer' %>
  </thead>
  <tfoot>
    <%= render 'table_header_footer' %>
  </tfoot>
  <tbody>
  <% medication_schedules.each do |medication_schedule|  %>
    <tr>
      <th><%= medication_schedule.id %></th>
      <td><%= medication_schedule.medication.name %></td>
      <td><%= medication_schedule.morning.to_i %></td>
      <td><%= medication_schedule.noon.to_i %></td>
      <td><%= medication_schedule.evening.to_i %></td>
      <td><%= medication_schedule.before_bed.to_i %></td>
      <th>
        <%= link_to t("edit"), routes.path("edit_medication_schedule", id: medication_schedule.id), class: "button is-link" %>
        <%= link_to t("destroy"), routes.path("delete_medication_schedule", id: medication_schedule.id), class: "button is-danger" %>
      </th>
    </tr>
  <% end %>
  </tbody>
</table>
