<h1 class="title">Reports</h1>

<% if 0 < previous_week.count %>
  <%= link_to previous_week.week, routes.path(:report, week: previous_week.week) %>
<% else %>
  <%= previous_week.week %>
<% end %>
  ||
<% if 0 < next_week.count %>
  <%= link_to next_week.week, routes.path(:report, week: next_week.week) %>
<% else %>
  <%= next_week.week %>
<% end %>
<table class="table">
  <tr>
    <td>Week</td>
    <td>from <%= entry.from %> to <%= entry.to %></td>
  </tr>
  <tr>
    <td>Attention</td>
    <td><%= AdhDiary::Types::Strength[entry.attention] %></td>
  </tr>
  <tr>
    <td>Organisation</td>
    <td><%= AdhDiary::Types::Strength[entry.organisation] %></td>
  </tr>
  <tr>
    <td>Mood Swings</td>
    <td><%= AdhDiary::Types::Strength[entry.mood_swings] %></td>
  </tr>
  <tr>
    <td>Stress Sensitivity</td>
    <td><%= AdhDiary::Types::Strength[entry.stress_sensitivity] %></td>
  </tr>
  <tr>
    <td>Irritability</td>
    <td><%= AdhDiary::Types::Strength[entry.irritability] %></td>
  </tr>
  <tr>
    <td>Restlessness</td>
    <td><%= AdhDiary::Types::Strength[entry.restlessness] %></td>
  </tr>
  <tr>
    <td>Impulsivity</td>
    <td><%= AdhDiary::Types::Strength[entry.impulsivity] %></td>
  </tr>
  <tr>
    <td>Side Effects</td>
    <td><%= entry.side_effects %></td>
  </tr>
  <tr>
    <td>Blood Pressure</td>
    <td>
      <ul>
        <% entry.blood_pressure.split(',').each do |datum| %>
          <li><%= datum %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Weight</td>
    <td><%= entry.weight %></td>
  </tr>
</table>


