<h1 class="title"><%= t('sign_up') %></h1>

<%= form_for :account, routes.path(:create_account) do |f| %>
  <%= form.name_input(f) %>
  <%= form.email_input(f) %>
  <%= form.password_input(f) %>
  <%= form.password_confirmation_input(f) %>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.submit "Create", class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
