<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label(field_name, class: "label") { label_text } %>
  </div>

  <div class="field-body">
    <div class="<%= control_field_classes %>">
      <%= f.date_field(field_name, class: date_field_classes) %>
      <%= render("shared/forms/field_icon", icon_name: "calendar", align: "left") %>
      <%= render("field_errors", messages: errors) if error_field? %>
    </div>
  </div>

</div>
