<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label(field_name, class: "label") { label_text } %>
  </div>

  <div class="field-body">
    <div class="control <%= control_field_classes %>">
      <%= f.email_field(field_name, class: input_field_classes, placeholder: placeholder_text) %>
      <%= render("shared/forms/field_icon", icon_name: , align: 'left') if icon_name? %>
      <%= render("field_errors", messages: errors) if error_field? %>
    </div>
  </div>
</div>